section{
    display: flex;
}

section div{
    color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    width:100px;
    height:100px;
    background-color: red;
    margin: 100px;
    border-radius: 10px;
    transition: transform 1s;

}
section:nth-of-type(1) div:nth-child(1):hover{
    transform: translate(40px,40px);
}
section:nth-of-type(1) div:nth-child(2):hover{
    transform: translateX(40px);

}
section:nth-of-type(1) div:nth-child(3):hover{
    transform: translateY(40px);
}
section:nth-of-type(2) div:nth-child(1):hover{
    transform:Rotate(45deg);
}
section:nth-of-type(2) div:nth-child(2):hover{
    transform:scale(1.5);
}
section:nth-of-type(2) div:nth-child(3):hover{
    transform: skew(20deg)
}